include mixins/textField
include mixins/dropdown
include mixins/textareaField
doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/min/production.css")
    // STYLES END
    block styles

  body
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/')= globalConference.name
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            if(req.user && req.user.isAdmin)
              li
                a(href='/user') Users
              li
                a(href='/conference/update') Conference
              li
                a(href='/track') Tracks
            if(req.isAuthenticated())
              li
                a(href='/presentation') Presentations
          ul.nav.navbar-nav.navbar-right
            if req.isAuthenticated()
              li
                a(href='/user/' + req.user.id)= 'Hello, ' + req.user.firstName
              li
                a(href='/authentication/logout') Log Out
            else
              li
                a(href='/authentication/login') Log In

    block body

    // SCRIPTS
    script(type="text/javascript", src="/min/production.js")
    // SCRIPTS END

    block scripts
