//
   Created by Brian on 4/5/2014.
extends ../layout

block body
  .container
    h1 Create an Account
    include ../shared/flash
    form.form-horizontal(action='/user/create', method='POST')
      .form-group
        label.col-sm-2.control-label(for='firstName') First Name
        .col-sm-3
          +textField('user', 'firstName')
      .form-group
        label.col-sm-2.control-label(for='lastName') Last Name
        .col-sm-3
          +textField('user', 'lastName')
      .form-group
        label.col-sm-2.control-label(for='email') Email
        .col-sm-3
          +textField('user', 'email')
      .form-group
        label.col-sm-2.control-label(for='password') Password
        .col-sm-3
          input.form-control#password(type='password', name='password')
      .form-group
        label.col-sm-2.control-label(for='confirmPassword') Confirm Password
        .col-sm-3
          input.form-control#confirmPassword(type='password', name='confirmPassword')
      .form-group
        .col-sm-offset-2.col-sm-3
          input(type="hidden", name="_csrf", value=_csrf)
          button.btn.btn-default(type='submit') Create Account