//
   Created by brian on 4/7/14.
extends ../layout
block body
  .container
    h1 Users
    include ../shared/flash
    table.table.table-striped
      thead
        tr
          th Id
          th First Name
          th Last Name
          th Email
          th
      tbody
        each user in res.locals.users
          tr
            td= user.id
            td= user.firstName
            td= user.lastName
            td= user.email
            td
              a.btn.btn-primary(href='/user/update/' + user.id) Edit