extends ../layout
block body
  .container
    h1 Presentations
    include ../shared/flash
    table.table.table-striped
      thead
        tr
          th Id
          th Title
          th Level
          th
      tbody
        each pres in presentations
          tr
            td= pres.id
            td= pres.title
            td= pres.level
            td
              a.btn.btn-primary(href='/presentation/' + pres.id) Show
