extends ../layout

block body
  .container
    h1 Edit Presentation
    include ../shared/flash
    form.form-horizontal(action='/presentation/update/' + req.param('id'), method='POST')
      .form-group
        label.col-sm-2.control-label(for='title') Title
        .col-sm-3
          +textField('presentation', 'title')
      .form-group
        label.col-sm-2.control-label(for='Track') Track
        .col-sm-3
          +dropdown(res.locals.tracks, 'trackId', 'id', 'name', 'presentation')
      .form-group
        label.col-sm-2.control-label(for='level') Level
        .col-sm-3
          +dropdown(res.locals.levels, 'level', 'name', 'name', 'presentation')
      .form-group
        label.col-sm-2.control-label(for='abstract') Abstract
        .col-sm-5
          +textareaField('presentation', 'abstract', 4)
      .form-group
        .col-sm-offset-2.col-sm-3
          input(type="hidden", name="_csrf", value=_csrf)
          button.btn.btn-default(type='submit') Update Presentation

