extends ../layout

block body
  .container
    .jumbotron
      h1= globalConference.name
      p= globalConference.tagline
      p
        if !req.isAuthenticated()
          a.btn.btn-primary(href='/user/create') Create Profile
        else
          a.btn.btn-primary(href='/presentation/create') Submit a Presentation
