mixin dropdown(list, name, valueProp, displayProp, existingValueObj)
  select.form-control(name=name, id=name)
    option(value='') Select One
    each item in list
      option(value=item[valueProp], selected=existingValueObj && res.locals[existingValueObj] && res.locals[existingValueObj][name] == item[valueProp] ? 'selected': null)= item[displayProp]