mixin dropdown(list, name, valueProp, displayProp)
  select.form-control(name=name, id=name)
    each item in list
      option(value='') Select One
      option(value=item[valueProp])= item[displayProp]